In [1]:
import pandas as pd

In [26]:
data=pd.read_csv('D:/MLOPS/data.csv')

In [27]:
data.head(10)

   Index  Employed  Bank Balance  Annual Salary  Defaulted?
0      1         1       8754.36      532339.56           0
1      2         0       9806.16      145273.56           0
2      3         1      12882.60      381205.68           0
3      4         1       6351.00      428453.88           0
4      5         1       9427.92      461562.00           0
5      6         0      11035.08       89898.72           0
6      7         1       9906.12      298862.76           0
7      8         0       9704.04      211205.40           0
8      9         1      13932.72      449622.36           0
9     10         1          0.00      351303.24           0

In [31]:
data.drop('Index',axis='columns', inplace=True)

In [29]:
data.rename(columns = {'Defaulted?': 'Defaulted','Bank Balance':'Bank_Balance','Annual Salary':'Annual_Salary'}, inplace = True)

In [32]:
data

      Employed  Bank_Balance  Annual_Salary  Defaulted
0            1       8754.36      532339.56          0
1            0       9806.16      145273.56          0
2            1      12882.60      381205.68          0
3            1       6351.00      428453.88          0
4            1       9427.92      461562.00          0
...        ...           ...            ...        ...
9995         1       8538.72      635908.56          0
9996         1       9095.52      235928.64          0
9997         1      10144.92      703633.92          0
9998         1      18828.12      440029.32          0
9999         0       2411.04      202355.40          0

[10000 rows x 4 columns]

In [33]:
data.columns

Index(['Employed', 'Bank_Balance', 'Annual_Salary', 'Defaulted'], dtype='object')

In [34]:
X=data.iloc[:,:-1]
y=data.iloc[:,-1]

In [35]:
y.value_counts()

0    9667
1     333
Name: Defaulted, dtype: int64

In [36]:
from sklearn.model_selection import train_test_split

In [37]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

In [38]:
from sklearn.ensemble import RandomForestClassifier
classifier_1=RandomForestClassifier()
classifier_1.fit(X_train,y_train)

RandomForestClassifier()

In [39]:
## Prediction
y_pred=classifier_1.predict(X_test)

In [40]:
from sklearn.metrics import accuracy_score
score=accuracy_score(y_test,y_pred)

In [41]:
score

0.9696666666666667

In [42]:
import pickle
pickle_out = open("D:/MLOPS/classifier_1.pkl","wb")
pickle.dump(classifier_1, pickle_out)
pickle_out.close()